In [1]:
import pandas as pd

In [37]:
df = pd.read_json('../raw_data/temp_df_for_testing.json')
df.head()

,full_transcript,artist,show_name,year,source,artist_birthday,artist_gender,age_then,full_transcript_clean
0,[rock music playing]\n\n[indistinct chatter]\n...,Adam Devine,Best Time Of Our Lives,2019.0,Scraps from the Loft,1983.0,2,36.0,man guy seat guy jacked fully juiced man excit...
1,"strong language. CHEERING Yes, yes, yes! How...",Adam Hess,Live from the BBC,2016.0,BBC,1990.0,2,26.0,yes yes yes lovely apologise state voice go co...
2,"Ladies and gentlemen, please welcome your hos...",Adam Hills,Live at the Apollo Series 9 Episode 4,2013.0,BBC,1970.0,2,43.0,london london amazing act present excellent ce...
3,some strong language and adult humour Ladies...,Adam Hills,Live at the Apollo Series 12 Episode 4,2016.0,BBC,1970.0,2,46.0,hair lost bet british paralympic team bet win ...
4,"? CHEERING Hello, Apollo. I am going to start ...",Adam Hills,Live at the Apollo Series 5 Episode 5,2009.0,BBC,1970.0,2,39.0,say something probably heard comedian love ame...

In [38]:
age_df = pd.DataFrame((df.age_then//10)*10)
age_df

     age_then
0        30.0
1        20.0
2        40.0
3        40.0
4        30.0
..        ...
550      50.0
551      30.0
552      30.0
553      30.0
554      40.0

[555 rows x 1 columns]

In [41]:
age_df['age_group'] = age_df['age_then'] 
age_df

     age_then  age_group
0        30.0       30.0
1        20.0       20.0
2        40.0       40.0
3        40.0       40.0
4        30.0       30.0
..        ...        ...
550      50.0       50.0
551      30.0       30.0
552      30.0       30.0
553      30.0       30.0
554      40.0       40.0

[555 rows x 2 columns]

In [45]:
age_df['age_group'][age_df['age_group'].isnull()]=-1

In [47]:
age_df['age_group'] = age_df['age_group'].astype(int)

In [48]:
import numpy as np

In [49]:
age_df['age_group'] [age_df['age_then']<0]= np.nan
age_df['age_group'] [age_df['age_then']<30]= 'U30'
age_df['age_group'] [age_df['age_then']>60]= 'O60'
age_df

/var/folders/s8/jf61hd8n2cj411r4h4mdpyf00000gn/T/ipykernel_1349/1695371993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df['age_group'] [age_df['age_then']<0]= np.nan
/var/folders/s8/jf61hd8n2cj411r4h4mdpyf00000gn/T/ipykernel_1349/1695371993.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df['age_group'] [age_df['age_then']<30]= 'U30'

     age_then age_group
0        30.0        30
1        20.0       U30
2        40.0        40
3        40.0        40
4        30.0        30
..        ...       ...
550      50.0        50
551      30.0        30
552      30.0        30
553      30.0        30
554      40.0        40

[555 rows x 2 columns]

In [50]:
age_df['age_group'] = age_df['age_group'].astype(str)

In [51]:
age_df['age_group']

0       30
1      U30
2       40
3       40
4       30
      ...
550     50
551     30
552     30
553     30
554     40
Name: age_group, Length: 555, dtype: object

In [52]:
age_group_df = pd.DataFrame(age_df['age_group'])
age_group_df

    age_group
0          30
1         U30
2          40
3          40
4          30
..        ...
550        50
551        30
552        30
553        30
554        40

[555 rows x 1 columns]

In [53]:
pd.DataFrame.to_json(age_group_df, 'age_group.json')

In [54]:
df[age_group_df['age_group']== 'U30']

,full_transcript,artist,show_name,year,source,artist_birthday,artist_gender,age_then,full_transcript_clean
1,"strong language. CHEERING Yes, yes, yes! How...",Adam Hess,Live from the BBC,2016.0,BBC,1990.0,2,26.0,yes yes yes lovely apologise state voice go co...
11,. CHEERING AND APPLAUSE Hello. Are you all hav...,Al Porter,Live at the Apollo Series 11 Episode 3,2015.0,BBC,1993.0,2,22.0,wow amazing theatre wondering looking wonder o...
14,. Thank you so much for having me. I am a come...,Alex Edelman,Live from the BBC,2016.0,BBC,1989.0,2,27.0,comedian new york spent spent love love americ...
25,"! CHEERING AND APPLAUSE Hi, thank you very muc...",Andrew Lawrence,Live at the Apollo Series 7 Episode 4,2011.0,BBC,1988.0,2,23.0,lovely warm nice sure gig honest agent say and...
42,"Recorded on July 1, 2009 at The Brentwood Thea...",Aziz Ansari,Intimate Moments For A Sensual Evening,2010.0,Scraps from the Loft,1983.0,2,27.0,july brentwood theatre los angeles whoa whoa w...
65,(Cheers and applause)\n\nThank you.\n\n(Laught...,Bo Burnham,"Words, Words, Words",2010.0,Scraps from the Loft,1990.0,2,20.0,basically hitler rose power silly pretentious ...
66,Bo What? Old MacDonald had a farm E I E I O An...,Bo Burnham,What,2013.0,Scraps from the Loft,1990.0,2,23.0,old macdonald farm farm pig snort old macdonal...
67,"[woman on TV] That has been, really, a difficu...",Bo Burnham,Make Happy,2016.0,Scraps from the Loft,1990.0,2,26.0,difficult mother difficult person life unhappy...
70,"Shot at the Gramercy Theatre, New York\n\nThe ...",Brent Morin,Iâ€™m Brent Morin,2015.0,Scraps from the Loft,1986.0,2,29.0,shot gramercy theatre new york special open co...
84,! CHEERING Yes! Hello! How you doing? You ...,Chris Ramsey,Live at the Apollo Series 10 Episode 2,2014.0,BBC,1986.0,2,28.0,yes yes exciting chris northeast cheering patr...
110,"One, two, three, fourâ€¦\nAnnouncer: From New Yo...",Daniel Tosh,Comedy Central Presents: Daniel Tosh,2003.0,Scraps from the Loft,1975.0,2,28.0,four new york city comedy guy ready hope mind ...
122,"! Yes! Wagwan? Glad to be here, man, my name i...",Darren Harriott,Live at the Apollo Series 13 Episode 3,2017.0,BBC,1988.0,2,29.0,yes wagwan glad man typical millennial typical...
132,Wooo! Yaâ€™ll gone make me lose my mind. Up in h...,Dave Chappelle,Killinâ€™ Them Softly,2000.0,Scraps from the Loft,1973.0,2,27.0,wooo goe lose mind goe throw goe act fool goe ...
133,"Well, I started when I was fourteen, thatâ€™s wh...",Dave Chappelle,Hbo Comedy Half-hour,1998.0,Scraps from the Loft,1973.0,2,25.0,started fourteen figured wow ten year ahead sh...
148,"Yeah. Yeah. Yeah. Yeah, gonna talk about a lot...",Donald Glover,Weirdo,2012.0,Scraps from the Loft,1983.0,2,29.0,stuff parent one car mom yeah that fear trying...
160,They always make Jesus look like an old Hells ...,Eddie Griffin,The Black Manâ€™s Bible,1994.0,Scraps from the Loft,1968.0,2,26.0,jesus old hell angel heroin dusty drawer jesus...
168,After achieving fame with Saturday Night Live ...,Eddie Murphy,Raw,1987.0,Scraps from the Loft,1961.0,2,26.0,achieving fame saturday night beverly hill cop...
169,"Filmed on August 17, 1983 at DAR Constitution ...",Eddie Murphy,Delirious,1983.0,Scraps from the Loft,1961.0,2,22.0,august dar constitution hall washington time f...
198,Iâ€™m a fan of Westerns. I donâ€™t like just any W...,George Carlin,The Indian Drill Sergeant,1965.0,Scraps from the Loft,1937.0,2,28.0,fan western western though one involve indian ...
234,"! Good evening, Live At The Apollo! My name's ...",Ivo Graham,Live at the Apollo Series 12 Episode 6,2016.0,BBC,1990.0,2,26.0,evening ivo thing news amazon prime sure many ...
235,"! Hello, Live at the Apollo! Wow! I can see a ...",Jack Carroll,Live at the Apollo Series 12 Episode 5,2016.0,BBC,1998.0,2,18.0,wow audience struggling place paralympics unda...
237,"Ladies and gentlemen, please welcome your hos...",Jack Whitehall,Live at the Apollo Series 9 Episode 5,2014.0,BBC,1988.0,2,26.0,wooooo evening third asked jack done recognise...
238,some strong language Good evening. I'm Mich...,Jack Whitehall,Jack Whitehall Live,2012.0,BBC,1988.0,2,24.0,evening michael white jack dad asked announcem...
240,"Please welcome .\n\nShow business, baby. Show ...",Jack Whitehall,At Large,2017.0,Scraps from the Loft,1988.0,2,29.0,business baby business wow amazing record talk...
241,"'Ladies and gentlemen, please welcome your ho...",Jack Whitehall,Live at the Apollo Series 7 Episode 8,2012.0,BBC,1988.0,2,24.0,lady evening cracking store evening treat dese...
242,". CHEERING AND APPLAUSE Hello, Hammersmith Apo...",Jack Whitehall,Live at the Apollo Series 6 Episode 4,2010.0,BBC,1988.0,2,22.0,hammersmith evening jack london locally posh p...
243,! CHEERING AND APPLAUSE What's up? Yes! All ri...,Jamali Maddix,Live at the Apollo Series 12 Episode 4,2016.0,BBC,1991.0,2,25.0,yes yes yes yes yes shit real son everyone hap...
250,"-ANNOUNCER:-Ladies and gentlemen, please welc...",Jason Manford,Live at the Apollo Series 5 Episode 1,2009.0,BBC,1981.0,2,28.0,announcer lady audience cheer whistle audience...
284,This programme contains Ladies and gentlemen...,Joe Lycett,Live at the Apollo Series 12 Episode 6,2016.0,BBC,1988.0,2,28.0,programme contains hammersmith everyone ooh au...
285,"! CHEERING Wow! Lovely. Hello. CHEERING Hello,...",Joe Lycett,Live at the Apollo Series 10 Episode 1,2014.0,BBC,1988.0,2,26.0,wow lovely wonderful voice happening worry sou...
300,! CHEERING AND APPLAUSE Hello. Hello. How are ...,Jon Richardson,Live at the Apollo Series 6 Episode 5,2010.0,BBC,1982.0,2,28.0,highpitched scream ooh rare response cardigan ...
305,. CHEERING AND APPLAUSE Hello. CHEERING -Y...,Josh Widdicombe,Live at the Apollo Series 7 Episode 8,2012.0,BBC,1983.0,2,29.0,yes yes struggle question answer confident ans...
319,Make some noise for .\n\nOh my God. Thank you ...,Kenny Sebastian,Don't Be That Guy,2017.0,Scraps from the Loft,1991.0,2,26.0,noise god mumbai guy shit guy royal opera hous...
321,"Ladies and gentleman, please welcome your hos...",Kevin Bridges,Live at the Apollo Series 8 Episode 3,2012.0,BBC,1986.0,2,26.0,gentleman thanks evening special guest team ol...
322,". I've been , this has been Live At The Apollo...",Kevin Bridges,Live at the Apollo Series 5 Episode 6,2010.0,BBC,1986.0,2,24.0,night
323,"Ladies and gentlemen, please welcome your hos...",Kevin Bridges,Live at the Apollo Series 6 Episode 4,2010.0,BBC,1986.0,2,24.0,hello hello evening whistling beautiful evenin...
324,"Ladies and gentlemen, please welcome !\n\nAPPL...",Kevin Bridges,A Whole Different Story,2015.0,Scraps from the Loft,1986.0,2,29.0,yes glasgow saturday night glasgow yes along h...
325,(ROCK MUSIC PLAYING)\n\n(BARKING) Oh! (COUGHS)...,Kevin Bridges,The Story Continues,2012.0,Scraps from the Loft,1986.0,2,26.0,cheer evening glasgow thanks feelin feelin tha...
326,"Ladies and gentlemen, please welcome .\n\nHell...",Kevin Bridges,The Story So Farâ€¦ Live In Glasgow,2010.0,Scraps from the Loft,1986.0,2,24.0,today glasgow friday night fuck payday scottis...
334,? CHEERING AND APPLAUSE GLASWEGIAN ACCENT: Tha...,Larry Dean,Live at the Apollo Series 13 Episode 1,2017.0,BBC,1989.0,2,28.0,pleasure round trying place accent london town...
335,some strong language CHEERING AND APPLAUSE L...,Larry Dean,Live from the BBC,2016.0,BBC,1989.0,2,27.0,larry laugh hello audience hello nice meet man...
360,"CHEERING AND APPLAUSE Hi! Hi, guys, how's i...",Mae Martin,Live from the BBC,2016.0,BBC,1987.0,3,29.0,guy audience cheer exciting guy audience yes d...
421,"[vocal music]\n\nâ™ª Uh-uh, yeah â™ª Uh, uh-uh-uh,...",Pete Davidson,Smd,2016.0,Scraps from the Loft,1993.0,2,23.0,uhuhuh every every made made fade away niceâ€“ n...
422,"So, Louis C.K. tried to get me fired from SNL ...",Pete Davidson,Alive From New York,2020.0,Scraps from the Loft,1993.0,2,27.0,louis tried fired snl story finale snl shocked...
426,"! Hey, guys, hey, how's it going? Good to hear...",Phil Wang,Live at the Apollo Series 12 Episode 6,2016.0,BBC,1990.0,2,26.0,guy hear real phil wang hear phil normal bang ...
429,"Welcome to the meeting. Are you Mohammed? No, ...",Ramy Youssef,Feelings,2019.0,Scraps from the Loft,1991.0,2,28.0,meeting mohammed dude texted hit ticket number...
448,", ladies and gentleman? CHEERING AND APPLAUSE ...",Rob Beckett,Live at the Apollo Series 9 Episode 6,2014.0,BBC,1986.0,2,28.0,gentleman are audience yeah rob massive teeth ...
464,[# Kasabian: Club Foot]\n\n[Cheering]\n\nLadie...,Russell Howard,Dingledodies,2009.0,Scraps from the Loft,1980.0,2,29.0,gentleman stage fairly nice love love brighton...
494,"! CHEERING Hello, Apollo! It's good to be h...",Seann Walsh,Live at the Apollo Series 7 Episode 1,2011.0,BBC,1985.0,2,26.0,nice london done coming travelling london stre...
495,"! Let's hear it for him, please! ! Cheers! Tha...",Seann Walsh,Live at the Apollo Series 9 Episode 2,2013.0,BBC,1985.0,2,28.0,hear cheer thank unhealthy binge drink binge d...
542,"! CHEERING AND APPLAUSE \nMUSIC: ""The Lion S...",Trevor Noah,Live at the Apollo Series 9 Episode 1,2013.0,BBC,1984.0,2,29.0,lion sleep evening grew south africa enjoy gre...